html {
  height: 100%;
  width: 100%;
}

p {
  padding-left: 20px;
}

.graph-container {
  width: fit-content;
  margin: auto;
}
.Body1{
  background-color: bisque;
             color:rgb(34, 2, 2);
             border: 5px solid rgb(34, 2, 2);
             padding: 24px;
             text-align: center;
}